body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: auto; /* Allow vertical scroll */
}

.home-container {
    text-align: center;
    padding: 0; /* Remove padding from the container */
    background-color: #f0f0f0;
    margin: 0; /* Remove any margin */
    width: 100%; /* Ensure it spans the full width */
}

.home-content {
    width: 100%;
    padding: 20px;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-content {
    flex: 1.5;
    padding: 20px;
    text-align: left;
    font-size: 1em;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image {
    max-width: 70%;
    height: auto;
}

.home-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.home-content ul {
    list-style-type: disc;
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
    text-align: left;
}

.home-content ul li {
    font-size: 1em;
    margin-bottom: 10px;
}